@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Bebas+Neue&display=swap');
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Anybody', cursive;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

header img {
    height: var(--header-height);
    height: 100px;
    width: 110px;
}

#signin {
    background-color: greenyellow;
    border: 0px;
    font-size: 20px;
}

.sec-one {
    background-color: greenyellow;
    height: 175px;
    width: 1800px;
    box-shadow: var(--shadow);
}

.div-one {
    height: 675px;
    width: 1800px;
    box-shadow: var(--shadow);
}

#list {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 200px;
    left: 400px;
}

#clock {
    position: absolute;
    height: 400px;
    width: 400px;
    right: 400px;
    top: 1900px;
}

#stars {
    position: absolute;
    top: 2500px;
    left: 500px;
}

#rating {
    color:white;
    font-size: 30px;
    position: absolute;
    left: 800px;
    top: 2800px;
}

#review {
    color:white;
    font-size: 30px;
    font-style: italic;
    position: absolute;
    left: 675px;
    top: 2950px;
}

#p-one {
    position: absolute;
    top: 250px;
    right: 400px;
    text-align: center;
}

#p-two {
    position: absolute;
    top: 1950px;
    left: 450px;
}

.div-two {
    background-image: url('/assets/onphone.jpeg');
    height: 675px;
    width: 2000px;
    box-shadow: var(--shadow);
}

.div-three {
    background-color: greenyellow;
    height: 175px;
    width: 1800px;
    box-shadow: var(--shadow);
}

.div-four {
    height: 675px;
    width: 1800px;
    box-shadow: var(--shadow);
}

.div-five {
    background-color: black;
    height: 675px;
    width: 1800px;
    box-shadow: var(--shadow);
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;;
}

ul {
    font-size: 30px;
    list-style-type: circle;
}